html, body {
    width: 100%;
    height: 100%;
    margin: 0;
}

body {
    background-color: #bbbfc3;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    touch-action: none;
    overflow: hidden;
}

.total-popup-window {
    background-color: #677c8f;
    overflow: hidden;
}

.total-popup-window .top-left {
    background-color: #8fc7fa;
}

.total-popup-window .top-left.resize:hover {
    cursor: nwse-resize;
}

.total-popup-window .top {
    background-color: #669ac9;
}

.total-popup-window .top.resize:hover {
    cursor: ns-resize;
}

.total-popup-window .top-right {
    background-color: #8fc7fa;
}

.total-popup-window .top-right.resize:hover {
    cursor: nesw-resize;
}

.total-popup-window .left {
    background-color: #669ac9;
}

.total-popup-window .left.resize:hover {
    cursor: ew-resize;
}

.total-popup-window .right {
    background-color: #669ac9;
}

.total-popup-window .right.resize:hover {
    cursor: ew-resize;
}

.total-popup-window .bottom-left {
    background-color: #8fc7fa;
}

.total-popup-window .bottom-left.resize:hover {
    cursor: nesw-resize;
}

.total-popup-window .bottom {
    background-color: #669ac9;
}

.total-popup-window .bottom.resize:hover {
    cursor: ns-resize;
}

.total-popup-window .bottom-right {
    background-color: #8fc7fa;
}

.total-popup-window .bottom-right.resize:hover {
    cursor: nwse-resize;
}

.total-popup-window .titlebar {
    background-color: #526372;
    padding: 2px;
}

.total-popup-window .window-button {
    text-align: center;
    width: 17px;
    height: 17px;
    margin: 0 1px;
}

.total-popup-window .titlebar .window-button:hover {
    background: white;
}

.total-popup-window .content {
    color: white;
}

.total-popup-window .content p {
    margin: 15px;
}

.total-popup-window .titlebar .title {
    width: 100%;
}

.total-popup-window .titlebar .minimize {
    background-color: #cbcbcb;
}

.total-popup-window .titlebar .maximize {
    background-color: #cbcbcb;
}

.total-popup-window .titlebar .close {
    background-color: #cbcbcb;
}

.tabs {
    width: 100%;
    height: 100%;
}

.tabs .tabbar {
    background-color: #313b44;
}

.tabs .tab {
    color: black;
    background-color: #5c7a7f;
    transition: background-color 0.5s;
    text-align: center;
    border-radius: 12px 12px 0 0;
    justify-content: center;
    align-items: center;
}

.tabs .tab .animated {
    transition: left 0.5s;
}

.tabs .tab:hover {
    background-color: rgb(255,0,0, 0.5);
    transition: background-color 0.5s;
}

.tabs .tab.active {
    background: white;
    border: 1px solid white;
}

.tabs .tab .close {
    position: absolute;
    right: 10px;
}

.tabs .content {
    margin: 15px;
}

.total-popup-miniature {
    background-color: #677c8f;
    justify-content: center;
    align-items: center;
    font-size: 34px;
}
